.searchbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  /* box-shadow: 0px 6px 10px rgb(221, 221, 221); */
}

#searchbox {
  font-weight: 600;
}

.search__bar {
  background-color: #fff;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: rgba(126, 125, 125, 0.637);
  border: 2px solid rgba(202, 202, 202, 0.637);
  margin-top: 10px;
}

.fa-search {
  padding-left: 5px;
  cursor: pointer;
}

.fa-search:hover {
  color: var(--btncolor);
}

.fa-times {
  padding-left: 15px;
  padding-right: 10px;
  cursor: pointer;
}

.fa-times:hover {
  color: var(--btncolor);
}

#search__bar {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: white;
  outline: none;
  margin-left: 5px;
}

.search_result {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 10px;
  display: flex;
}

.search_result_table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.search_result_table_cell,
.search_result_table_head {
  display: table-cell;
  min-width: 25%;
  border: 1px solid #ddd;
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

.search_result_table_head {
  background-color: rgb(93%, 95%, 100%);
  color: rgb(165, 165, 165);
}

.action_sold {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(10%, 68%, 47%);
}

.action_dispatch {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(57%, 35%, 81%);
}

.action_return {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(85%, 24%, 19%);
}

/* .search_body{
  display: ;
} */

@media only screen and (max-width: 420px) {
  .searchbox {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
    margin: 0px;
    background-color: rgb(94%, 96%, 100%);
    /* border: 1px solid blue; */
  }
  #searchbox {
    display: none;
  }
  .search__bar {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    color: rgba(126, 125, 125, 0.637);
    /* border: 2px solid rgba(202, 202, 202, 0.637); */
    margin-top: 10px;
  }
  #search__bar {
    font-size: 0.7rem;
  }
}
