.calender_filter {
  display: flex;
  /* border: 2px solid green; */
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.calender {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  padding: 3px;
}

.calender button {
  margin-right: 3px;
}

.calender button:hover {
  background-color: transparent;
}

#date_input {
  margin: 0 5px;
  padding: 4px;
  outline: none;
  border: 0.5px solid grey;
}
