.dashboard {
  padding: 30px;
  /* background-color: rgba(200, 250, 187, 0.267); */
  background-color: rgba(187, 206, 250, 0.267);
  height: calc(100% - 60px);
  /* background-color: rgb(99%, 99%, 99%); */
  /* border: 1px solid red; */
}

#dashboard__header {
  font-size: 1.2rem;
  font-weight: 600;
}

#dashboard__subheader {
  color: rgba(77, 77, 77, 0.637);
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 2px;
}

.items_detail {
  display: flex;
  /* margin-top: 30px; */
  padding-top: 30px;
}

.detail {
  background-color: white;
  width: 15%;
  height: 180px;
  /* border: 1px solid goldenrod; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  margin-right: 20px;
}

.articles_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(2%, 45%, 93%);
  border-radius: 8px;
  /* border: 1px solid palevioletred; */
}

.added_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(54, 131, 2);
  border-radius: 8px;
}

.dispatched_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(145, 90, 207);
  border-radius: 8px;
}

.returned_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgb(233, 41, 41);
  border-radius: 8px;
}

#articles,
#added,
#dispatched,
#returned {
  color: #fff;
}

.item_detail {
  /* border: 1px solid black; */
  padding: 15px 0;
}

.number_of_item {
  font-size: 2rem;
  font-weight: 600;
}

.detail_heading {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.644);
}

.stock_analytics {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 30px;
}

.stock_chart {
  height: 100%;
  width: 30%;
  /* flex: 1; */
  /* border: 2px solid red; */
  background-color: white;
  padding: 20px;
}

.stock_numbers {
  /* flex: 1; */
  margin-left: 15px;
  background-color: #fff;
  width: calc(70% - 15px);
  padding: 20px;
}

.stock_numbers p {
  padding-bottom: 20px;
  font-weight: 600;
}
