.dashboard {
  padding: 30px;
  background-color: var(--bgcolor);
  height: calc(100% - 60px);
}

/* Page Header  */

#dashboard__header {
  font-size: 1.2rem;
  font-weight: 600;
}

#dashboard__subheader {
  color: rgba(77, 77, 77, 0.637);
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 2px;
}

/* Month Details Boxes */

.items_detail {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 30px; */
  padding-top: 30px;
}

.detail {
  background-color: white;
  width: 15%;
  min-width: 100px;
  height: 180px;
  /* border: 1px solid goldenrod; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  margin-right: 20px;
}

.articles_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--appblue);
  border-radius: 8px;
  /* border: 1px solid palevioletred; */
}

.added_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--green);
  border-radius: 8px;
}

.dispatched_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--purple);
  border-radius: 8px;
}

.returned_icon {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--brightred);
  border-radius: 8px;
}

#articles,
#added,
#dispatched,
#returned {
  color: #fff;
}

.item_detail {
  /* border: 1px solid black; */
  padding: 15px 0;
}

.number_of_item {
  font-size: 2rem;
  font-weight: 600;
}

.detail_heading {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.644);
}

/* Alert Box  */

.quant_alert_list {
  height: 180px;
  max-height: 180px;
  background-color: #fff;
  width: calc(40% - 80px);
  min-width: 130px;
  padding: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 2px solid rgba(248, 198, 195, 0.74); */
  border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.quant_alert_list_head {
  display: flex;
  /* border: 2px solid red; */
  color: rgb(184, 77, 72);
  border-left: 4px solid rgb(184, 77, 72);
  background-color: var(--returnedcolor);
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}

.quant_alert_list_head p {
  padding: 5px;
}

.alert_body {
  border: 2px solid black;
}

#alert_list {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 5px;
  border: 1px solid rgba(187, 187, 187, 0.432);
  background-color: rgba(216, 216, 216, 0.418);
  padding: 5px 7px;
  color: rgb(90, 90, 90);
  border-left: 4px solid rgb(131, 131, 131);
}

.alert_loader {
  width: 100%;
  border: 2px sloid red;
}

/* Filter and Buttons Bar */

.filter_pagebtn {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: white;
  padding: 15px 10px;
}

.page_btns {
  display: flex;
  /* border: 1px solid blue; */
  font-size: 0.8rem;
  align-items: center;
}

.page_btns a {
  text-decoration: none;
  color: grey;
}

.page_btns p {
  padding: 3px 5px;
  cursor: pointer;
  border: 2px solid rgba(165, 164, 164, 0.521);
  border-radius: 2px;
  margin: 0 5px;
}

.page_btns p:hover {
  color: black;
  font: 600;
  border: 2px solid rgb(66, 66, 66);
}

/* Stock Analytics  */

.stock_analytics {
  display: flex;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 10px;
}

.stock_chart {
  height: 100%;
  min-height: 200px;
  width: 30%;
  min-width: 30%;
  /* flex: 1; */
  /* border: 2px solid red; */
  background-color: white;
  padding: 20px;
}

.stock_numbers {
  /* flex: 1; */
  margin-left: 15px;
  background-color: #fff;
  width: calc(70% - 15px);
  padding: 20px;
}

.sn_head_filter {
  /* border: 2px solid red; */
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock_numbers p {
  font-weight: 600;
}

.stock_numbers_details {
  /* border: 2px solid red; */
  height: 80%;
  display: flex;
  padding: 15px 0;
}

.analytics {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.added_stock {
  /* border: 2px solid red; */
  padding: 0.8rem;
  text-align: center;
  background-color: rgb(82%, 94%, 89%);
  border-left: 4px solid var(--addedcolorborder);
  color: var(--addedcolor);
}

.dispatched_stock {
  /* border: 2px solid red; */
  padding: 0.8rem;
  text-align: center;
  background-color: var(--dispatchedcolor);
  border-left: 4px solid var(--dispatchedcolorborder);
  color: rgb(119, 85, 143);
}

.returned_stock {
  /* border: 2px solid red; */
  padding: 0.8rem;
  text-align: center;
  background-color: var(--returnedcolor);
  border-left: 4px solid var(--returnedcolorborder);
  color: rgb(184, 77, 72);
}

.profit_stock {
  /* border: 2px solid red; */
  padding: 0.8rem;
  text-align: center;
  background-color: rgb(80%, 89%, 98%);
  border-left: 4px solid rgb(18%, 37%, 67%);
  color: rgb(18%, 37%, 67%);
}

.revenue_side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.revenue_details {
  flex: 1;
  width: 100%;
  padding-left: 20px;
  /* border-right: 8px solid rgb(93%, 95%, 100%); */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 2px solid red; */
}

.revenue_details p {
  margin-bottom: 5px;
  padding: 5px;
}

.sale_money {
  width: 90%;
  margin: 4px;
  background-color: var(--dispatchedcolor);
  border-left: 4px solid var(--dispatchedcolorborder);
  color: rgb(119, 85, 143);
}

.return_money {
  width: 90%;
  color: rgb(119, 85, 143);
  margin: 4px;
  background-color: var(--returnedcolor);
  border-left: 4px solid var(--returnedcolorborder);
  color: rgb(184, 77, 72);
}

.profit_money {
  width: 90%;
  background-color: rgb(80%, 89%, 98%);
  border-left: 4px solid rgb(18%, 37%, 67%);
  color: rgb(18%, 37%, 67%);
  margin: 4px;
}

.barchart_wrapper {
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.barchart_wrapper p {
  width: 100%;
  text-align: start;
  font-weight: 600;
  padding: 10px;
  /* border: 1px solid black; */
}

.barchart {
  width: 80%;
  /* padding: 10px; */
  /* border: 2px solid red; */
}

/* ---Mobile Compatible--- */

@media only screen and (max-width: 420px) {
  .dashboard {
    padding: 15px;
    background-color: var(--bgcolor);
    height: calc(100% - 60px);
  }

  #dashboard__header {
    font-size: 1.1rem;
    font-weight: 600;
  }

  #dashboard__subheader {
    color: rgba(77, 77, 77, 0.637);
    font-weight: 400;
    font-size: 0.7rem;
    margin-left: 2px;
  }

  .items_detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
  .detail {
    width: 80%;
    min-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: flex-start; */
    background-color: white;
    /* border: 1px solid goldenrod; */
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .articles_icon {
    height: 100%;
    width: 40%;
    padding: 8px;
  }

  .item_detail {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: space-evenly;
    align-items: center;
    padding: 10px 12px;
    /* border: 1px solid goldenrod; */
  }
  .number_of_item {
    width: 50%;
  }
  .detail_heading {
    width: 50%;
  }
  .quant_alert_list {
    height: 180px;
    max-height: 180px;
    background-color: #fff;
    /* width: calc(40% - 80px); */
    width: 100%;
    min-width: 130px;
    padding: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* border: 2px solid rgba(248, 198, 195, 0.74); */
    border-radius: 4px;
    margin-top: 10px;
  }
  .stock_analytics {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 10px;
  }
}
