.table {
  /* border: 2px solid red; */
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.table__name {
  padding: 10px 0;
  font-weight: 600;
}

.table_search_filter {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.search__bar {
  height: 45px;
  /* border: 1px solid black; */
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
} */

#customers th {
  padding: 12px 0;
  margin-top: 10px;
  text-align: left;
  /* background-color: #86d3f160; */
  background-color: rgba(187, 206, 250, 0.267);
  color: rgba(99, 97, 97, 0.712);
  font-weight: 500;
}

.loading {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}
