.sidebar {
  width: 14%;
  min-width: 14%;
  max-width: 14%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgb(255, 255, 255);
  /* -moz-box-shadow: -3px 0 5px 0 rgb(56, 56, 56);
  -webkit-box-shadow: -3px 0 5px 0 rgb(56, 56, 56); */
  /* box-shadow: -3px 0 5px 0 rgb(56, 56, 56); */
  /* border: 2px solid red; */
}

.opt_link {
  text-decoration: none;
}

.sidebar__options a {
  text-decoration: none;
}

.sidebar__logo {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  overflow: hidden;
}

.sidebar__logo:hover {
  border: 1.5px solid #fff;
  /* background-color: rgba(209, 209, 252, 0.308); */
  cursor: pointer;
}

.ss_logo {
  width: 40%;
  height: 100%;
  cursor: pointer;
}

.sidebar__options {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  /* border: 2px solid orange; */
}

.selected {
  background-color: blue;
  color: white;
}

@media only screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}
