.sidebarOption {
  display: flex;
  padding: 14px;
  /* border: 1px solid black; */
  /* margin-top: 7px; */
  color: rgba(44, 40, 40, 0.877);
  text-decoration: none;
}

.sidebarOption:hover {
  transition: all 0.1s ease;
  background: #6796fc18;
  cursor: pointer;
  /* border: 0.1px solid rgba(0, 0, 0, 0.315); */
}

.sidebarOption.active {
  background-color: rgba(31, 102, 255, 0.884);
  margin: 0 3px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
}

.sidebarOption.active:hover {
  background-color: rgb(12%, 40%, 100%);
  color: white;
}

.option_icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  text-decoration: none;
}

.option_name {
  /* border: 1px solid black; */
  flex: 3;
  padding-left: 15px;
  text-decoration: none;
  outline: none;
}

.notactive {
  background-color: red;
}
