.sidebar {
  width: 14%;
  min-width: 155px;
  max-width: 14%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: all 0.5s ease;
  overflow: hidden;
  /* -moz-box-shadow: -3px 0 5px 0 rgb(56, 56, 56);
  -webkit-box-shadow: -3px 0 5px 0 rgb(56, 56, 56); */
  /* box-shadow: -3px 0 5px 0 rgb(56, 56, 56); */
  /* border: 2px solid red; */
}

.opt_link {
  text-decoration: none;
}

.sidebar__options a {
  text-decoration: none;
}

.sidebar_remove {
  display: none;
}

.sidebar_profile {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
  overflow: hidden;
  margin-bottom: 15px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(199, 199, 199, 0.521);
}

.sidebar_profile:hover {
  background-color: rgba(186, 206, 245, 0.432);
  color: black;
}

.profile_icon {
  width: 30%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 8px;
}

.fa-user-circle {
  /* border: 1px solid blue; */
  color: var(--btncolor);
}

.sidebar_profile p {
  font-size: 0.8rem;
  color: rgb(68, 68, 68);
}

/* .sidebar_profile:hover {
  border: 1.5px solid #fff;
  cursor: pointer;
} */

.sidebar__options {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  /* border: 2px solid orange; */
}

.selected {
  background-color: blue;
  color: white;
}

@media only screen and (max-width: 420px) {
  .sidebar {
    width: 0;
    min-width: 0;
    max-width: 0;
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .sidebar.active {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
  }

  .sidebar_remove {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .sidebar_profile {
    display: none;
  }
}
