.filter_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
}

.filter_cal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  /* border: 1px solid black; */
}

.filter_cal .fa-times {
  color: rgba(0, 0, 0, 0.747);
  margin-right: 5px;
}

.filter_box_body {
  width: 100%;
  /* border: 2px solid red; */
}

@media only screen and (max-width: 420px) {
  /* .search_result_table {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
  } */
  .filter_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    overflow-x: auto;
  }
  /* 
  .filter_box ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  /* .filter_box ::-webkit-scrollbar-track {
    background: #f1f1f1;
  } */

  /* Handle */
  /* .filter_box ::-webkit-scrollbar-thumb {
    background: rgb(188, 205, 250);
  } */

  /* Handle on hover */
  /* .filter_box ::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 198, 255);
  } */
  */ .filter_cal {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
}
