.table {
  /* border: 2px solid red; */
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

.table__name {
  padding: 10px 0;
  font-weight: 600;
  /* border: 2px solid red; */
}

.table_search_filter {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.input_bar {
  height: 45px;
  background-color: #fff;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  color: rgba(126, 125, 125, 0.637);
  border: 2px solid rgba(172, 169, 169, 0.411);
  margin-top: 10px;
  /* border: 1px solid black; */
}

.fas-fa-search {
  padding-left: 5px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  font-size: 0.9rem;
  padding: 8px;
  text-align: center;
}

/* #customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
} */

#customers th {
  padding: 12px 0;
  margin-top: 10px;
  text-align: center;
  /* background-color: #86d3f160; */
  background-color: var(--bgcolor);
  color: rgba(99, 97, 97, 0.712);
  font-weight: 500;
}

.status_alert {
  background-color: rgb(85%, 24%, 19%);
  padding: 3px 7px;
  color: white;
  font-size: 0.8rem;
}

.action_sold {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(10%, 68%, 47%);
}

.action_dispatch {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(57%, 35%, 81%);
}

.action_return {
  color: #fff;
  padding: 3px 7px;
  background-color: rgb(85%, 24%, 19%);
}

.loading {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
  margin-top: 20px;
}

@media only screen and (max-width: 420px) {
  .table {
    /* border: 2px solid red; */
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    overflow-x: auto;
  }
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }
  #customers td,
  #customers th {
    border: 1px solid #ddd;
    font-size: 0.7rem;
    padding: 8px;
    text-align: center;
  }
}
