.calender_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  /* border: 2px solid green; */
}

.calender {
  display: flex;
  padding: 3px;
  /* border: 2px solid red; */
}

#date_input {
  margin: 0 5px;
  padding: 4px;
  outline: none;
  border: 0.5px solid grey;
}

/* Cross buttons in input fields */
.calender button {
  margin-right: 3px;
}

.calender button:hover {
  background-color: transparent;
}

@media only screen and (max-width: 420px) {
  .calender_filter {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-right: 10px; */
    /* border: 2px solid green; */
  }
  .calender {
    display: flex;
    flex-direction: column;
    padding: 3px;
    /* border: 2px solid red; */
  }
}
